.navbar{
    height: auto;
    background:linear-gradient(45deg,#DA2D86,#EC3753,#FF763B);
    
}

.navbar ul{
    display: flex;
    flex-direction: row;
    padding:10px;
    justify-content: space-around;
}
.navbar ul .li{
    text-decoration: none;
    color: yellow;
}
.navbar ul .li:hover{
    color: yellowgreen;
}
.navbar ul .li:active{
    color: red;
}


